# Data Structures

## Data Structures hold Data in an Organized way so that accessing and storing them makes it efficient. There are 4 types of Data Structures in Python. They are:
### 1. Lists
### 2. Tuples
### 3. Dictionaries
### 4. Sets

#### Let us understand what Lists are:
### 1. Lists

##### Lists are very much similar to Arrays in C++. But, Python doesn't support Arrays, we have Lists in place.
##### Lists can Hold heterogeneous type of data.
##### Lists have to be enclosed in Square Brackets each value seperated by comma

###### How to declare a Python List?

In [1]:
names = ['Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan', 'Sehwag']

In [2]:
list_new  = [False, True, 'Hello', 22, 39, 56]

###### Accessing List

###### Call print function on the list name and will be able to see the list contents

In [3]:
print(names)

['Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan', 'Sehwag']

In [4]:
print(list_new)

[False, True, 'Hello', 22, 39, 56]

###### indexing in List starts from 0 so when you say list of 1 it will give you second element name

In [5]:
names[1]

'Rahul Dravid'

In [6]:
names[0]

'Sachin Tendulkar'

###### indexing in List is also possible from right to left, but indexing value from right to left starts from -1
###### so when we use -4 it will give you Rahul Dravid

In [7]:
names[-4]

'Rahul Dravid'

###### Slicing List
###### Slicing is one of the most important features of Listing in Python
###### When you want to view only few of the list items, you can go for slicing, but how indexing works is important here
###### : is the splitter. number before : is min index and number after : is max index. But elements will be displayed from min index to max index -1

In [8]:
names[1:2]

['Rahul Dravid']

In [9]:
names[1:3]

['Rahul Dravid', 'Sourav Ganguly']

###### Here indexing starts from 0 and prints till 3rd index

In [10]:
names[0:4]

['Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan']

###### Here only 2 list elements will be displayed as it will start from but will end till 3 which 4-1

In [11]:
names[2:4]

['Sourav Ganguly', 'Zaheer Khan']

###### When there is no start index, by default it is 0

In [12]:
names[:4]

['Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan']

In [13]:
names[:5]

['Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan', 'Sehwag']

###### When there are no min and max indices, it will display the full list elements

In [14]:
names[:]

['Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan', 'Sehwag']

###### When there is no max index, that means it is considered as till end of the list

In [15]:
names[3:]

['Zaheer Khan', 'Sehwag']

###### As indexing starts from 0, -2nd element is Sourav

In [16]:
names[:-2]

['Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly']

###### First element is Rahul Dravid and -2nd element is Sourav

In [17]:
names[1:-2]

['Rahul Dravid', 'Sourav Ganguly']

In [18]:
names[-2:-1]

['Zaheer Khan']

#### Modify or reassigning a element in List
###### List Data Structure is mutable, that means you can change the contents of the lists

In [19]:
names[3] = 'Virender Sehwag'

In [20]:
names

['Sachin Tendulkar',
 'Rahul Dravid',
 'Sourav Ganguly',
 'Virender Sehwag',
 'Sehwag']

###### Let us change the 2nd and 3rd element in names list

In [21]:
names[2:4] = ['Kapil Dev', 'Sreesanth']

###### Now we should notice that 2nd and 3rd element should have new names

In [22]:
names

['Sachin Tendulkar', 'Rahul Dravid', 'Kapil Dev', 'Sreesanth', 'Sehwag']

In [23]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]

#### Deleting list or list elements
###### You can delete the list elements using del keyword

In [24]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
del list1[3]

In [26]:
list1

[1, 2, 3, 5, 6, 7, 8]

In [27]:
del list1

In [28]:
list1

NameError: name 'list1' is not defined

### Built-in List Functions

- len()
- max()
- min()
- sum()
- sorted()
- list()
- any()
- all()

In [29]:
# len() will give the length of the list
list1 = [1, 2, 3, 4, 5, 6, 7, 8]

###### len() will give you number of elements in the list

In [30]:
len(list1)

8

In [31]:
# max will give maximum number in the list
# However, it will throw an error if there is any character or string in the list

In [32]:
max(list1)

8

In [33]:
min(list1)

1

In [34]:
list2 = ['hello', 1, 2, 3, 55, -3]

In [35]:
list2

['hello', 1, 2, 3, 55, -3]

In [36]:
max(list2)

TypeError: '>' not supported between instances of 'int' and 'str'

In [37]:
min(list2)

TypeError: '<' not supported between instances of 'int' and 'str'

###### Sum will give you the summation of the listed elements

In [38]:
sum(list1)

36

In [39]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

###### Sort will sort the elements in the list in the ascending order

In [40]:
sorted(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

###### sort will not work if there is any string data in the elements

In [41]:
sorted(list2)`

SyntaxError: invalid syntax (<ipython-input-41-3a83680172e1>, line 1)

###### We can alos create list using list function like below

In [42]:
list3 = list('abcdef')

In [43]:
type(list3)

list

In [44]:
list3

['a', 'b', 'c', 'd', 'e', 'f']

In [45]:
# any
any(list3)

True

In [46]:
list4 = ['', '']

In [47]:
any(list4)

False

In [48]:
all(list4)

False

In [49]:
all(list3)

True

### Built-in List Methods

- append
- insert
- remove
- pop
- clear
- index
- count
- sort
- reverse

In [50]:
list1 = [1, 2, 3, 4]

In [51]:
list1

[1, 2, 3, 4]

###### append will happen towards the end of the list

In [52]:
list1.append(5)

In [53]:
list1

[1, 2, 3, 4, 5]

###### insert will take two arguments, first one being location, second one is data element
###### below we will try to insert 6 at the second location

In [54]:
# insert
list1.insert(2, 6)

In [55]:
list1

[1, 2, 6, 3, 4, 5]

###### Remove will remove the data elements from the list. even if they are multiple times, they will be removed.

In [56]:
# remove
list1.remove(5)

In [57]:
list1

[1, 2, 6, 3, 4]

In [58]:
list2 = [1, 2, 3, 4, 5, 6, 2]
list2

[1, 2, 3, 4, 5, 6, 2]

In [59]:
list2.remove(2)

In [60]:
list2

[1, 3, 4, 5, 6, 2]

In [61]:
# pop
print(list1)
print(list2)

[1, 2, 6, 3, 4]
[1, 3, 4, 5, 6, 2]

###### Pop will remove the element at the passed index location

In [62]:
list1.pop(2)

6

In [63]:
list1

[1, 2, 3, 4]

###### Clear will clear the entire list

In [64]:
# clear
list1.clear()

In [65]:
list1

[]

In [66]:
list1 = [1, 2, 3, 4]

###### index function will give the index location of the data element

In [67]:
# index
list1.index(3)

2

In [68]:
list1.index(4)

3

###### count function will count the number of times the data element has repeated in the list

In [69]:
# count
list2.count(2)

1

In [70]:
list2

[1, 3, 4, 5, 6, 2]

In [71]:
# sort
list2.sort()

In [72]:
list2

[1, 2, 3, 4, 5, 6]

###### Reverse will print the list elements in the reverse order

In [73]:
# reverse
list2.reverse()

In [74]:
list2

[6, 5, 4, 3, 2, 1]

## 2. Tuples


###### How to declare a Python Tuple?

In [75]:
names = ('Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan', 'Virender Sehwag')

In [76]:
type(names)

tuple

In [77]:
# we can do without parenthesis too.
# this is called tuple packing
a = 1, 2, 3, "something"

In [78]:
type(a)

tuple

##### this is called tuple unpacking

In [79]:
a, b, c, d, e = names

In [80]:
print(a)

Sachin Tendulkar

In [81]:
print(b)

Rahul Dravid

###### How to Access a Tuple

In [82]:
# create a tuple with single item
a = 1

In [83]:
type(a)

int

In [84]:
a = 1,

In [85]:
type(a)

tuple

In [86]:
print(names)

('Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan', 'Virender Sehwag')

In [87]:
names[2:4]

('Sourav Ganguly', 'Zaheer Khan')

In [88]:
names[:-2]

('Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly')

In [89]:
new_names = names

##### deleting a tuple

In [90]:

del names

##### Like we discussed, a tuple is immuatble, let's prove it

In [91]:
new_names[2] ='Virat Kohli'

TypeError: 'tuple' object does not support item assignment

### Built-in Tuple Functions

- len()
- max()
- min()
- sum()
- any()
- all()
- sorted()
- tuple()

In [92]:
names = ('Sachin Tendulkar', 'Rahul Dravid', 'Sourav Ganguly', 'Zaheer Khan', 'Virender Sehwag')

In [93]:
len(names)

5

In [94]:
my_tuple = (1, 2, 22, 45, 67, 88, -2, -4)

In [95]:
my_tuple

(1, 2, 22, 45, 67, 88, -2, -4)

##### max will print maximum element in the tuple

In [96]:
max(my_tuple)

88

##### min will print minimum element in the tuple

In [97]:
min(my_tuple)

-4

##### Sum will sumup everything in the tuple

In [98]:
sum(my_tuple)

219

##### if the list is unempty returns True with any

In [99]:
any(my_tuple)

True

In [100]:
all(my_tuple)

True

##### Sorted will the sort the tuple in the ascending order

In [101]:
sorted(my_tuple)

[-4, -2, 1, 2, 22, 45, 67, 88]

In [102]:
# we can convert list to tuple using below method
list_to_tuple = [1, 4, 5, 88, 9, 12]

In [103]:
print(tuple(list_to_tuple))

(1, 4, 5, 88, 9, 12)

### Tuple Methods

In [104]:
# index Method
a = (1, 2, 3, 4)

In [105]:
a.index(3)

2

In [106]:
# count method
a = (1, 2, 3, 4, 2, 2, 44, 2)

In [107]:
a.count(2)

4

### Tuple Operations

In [108]:
# Membership
'p' in tuple('Python')

False

In [109]:
'p' in tuple('python')

True

In [110]:
# Concatenation
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [111]:
# Logical 
(1, 2, 3) < (4, 5, 6)

True

In [112]:
# Logical
(1,2,3) > (4,5,6)

False

## 3. Dictionaries

In [113]:
my_dict = {'ID':'1', 'Name':'ABC', 'Addr':'Hyderabad', 'Pincode':'500 016'}

In [114]:
my_dict

{'ID': '1', 'Name': 'ABC', 'Addr': 'Hyderabad', 'Pincode': '500 016'}

In [115]:
my_dict_1 = {}

In [116]:
my_dict_1

{}

In [117]:
# Dictionaries with mixed keys
my_dict_2 = {1:'Java', 'Lang':['Java', 'C', 'C++']}

In [118]:
my_dict_2

{1: 'Java', 'Lang': ['Java', 'C', 'C++']}

In [119]:
# you can use dict function to convert to dictionary, but make sure that you use double parenthesis
dict(([1,2], [3,4], [5,6]))

{1: 2, 3: 4, 5: 6}

In [120]:
# What happens if there are more than two values for the same key
dict_1 = {'Name':'Rohit', 'Name':'Sachin', 'Name':'Zaheer', 'Address':'Hyderabad'}

In [121]:
dict_1

{'Name': 'Zaheer', 'Address': 'Hyderabad'}

In [122]:
# how to add elements later
dict_2 = {}

In [123]:
dict_2[1] = 'Sachin'
dict_2[2] = 'Rahul'
dict_2[3] = 'Hyderabad'

In [124]:
dict_2

{1: 'Sachin', 2: 'Rahul', 3: 'Hyderabad'}

In [125]:
dict_2 = {}

In [126]:
dict_2['Name'] = ['Sachin', 'Rahul', 'Sourav', 'Sehwag']

In [127]:
dict_2['Second_Name'] = ['Tendulkar', 'Dravid', 'Ganguly', 'Virender']

In [128]:
dict_2

{'Name': ['Sachin', 'Rahul', 'Sourav', 'Sehwag'],
 'Second_Name': ['Tendulkar', 'Dravid', 'Ganguly', 'Virender']}

#### How to Access Dictionary members

In [129]:
dict_2['Name']

['Sachin', 'Rahul', 'Sourav', 'Sehwag']

In [130]:
my_dict_2[1]

'Java'

In [131]:
# get method on dictionary
my_dict_2.get('Lang')

['Java', 'C', 'C++']

##### How to Reassign, Modify existing keys and values in a dictionary

In [132]:
my_dict_3 = {1:2, 2:3, 3:4, 4:5}

In [133]:
my_dict_3

{1: 2, 2: 3, 3: 4, 4: 5}

In [134]:
my_dict_3[2]=4

In [135]:
my_dict_3

{1: 2, 2: 4, 3: 4, 4: 5}

In [136]:
# Adding a new key
my_dict_3[5] = 6

In [137]:
my_dict_3

{1: 2, 2: 4, 3: 4, 4: 5, 5: 6}

In [138]:
# Delete dictionary elements
del my_dict_3[4]

In [139]:
my_dict_3

{1: 2, 2: 4, 3: 4, 5: 6}

### Built-in Dictionary Functions

- len()
- any()
- all()
- sorted()

In [140]:
# len will give the length of the dictionary
len(my_dict_3)

4

In [141]:
# any will give True if any of the values are non na's
any(my_dict_3)

True

In [142]:
# all will give true if there are all non na values in the dictionary
all(my_dict_3)

True

In [143]:
all(my_dict_1)

True

In [144]:
sorted(my_dict_3)

[1, 2, 3, 5]

##### Built in Methods for Dictionaries

- keys()
- values()
- items()
- get()
- clear()
- copy()
- pop()
- popitem()
- fromkeys()
- update

In [145]:
# keys will return list of keys in a dictionary
my_dict_3.keys()

dict_keys([1, 2, 3, 5])

In [146]:
# values will return values
my_dict_3.values()

dict_values([2, 4, 4, 6])

In [147]:
# items will fetch key value pairs 
my_dict_3.items()

dict_items([(1, 2), (2, 4), (3, 4), (5, 6)])

In [148]:
# get will take one or two arguments
# first argument is to search for that value
# second optional argument is to print that value if value is not found
my_dict_3.get(4,'Not Found')

'Not Found'

In [149]:
my_dict_3.get(3, 'Not Found')

4

In [150]:
# clear will empty the entire dictionary
my_dict_1 = {1:2, 2:3, 3:4}

In [151]:
my_dict_1

{1: 2, 2: 3, 3: 4}

In [152]:
my_dict_1.clear()

In [153]:
my_dict_1

{}

In [154]:
# copy
my_new_dict = my_dict_3.copy()

In [155]:
my_new_dict

{1: 2, 2: 4, 3: 4, 5: 6}

In [156]:
# pop
# pop will remove and display an item from the dictionary
# it takes two arguments. 
# The first is the key to be deleted, second is the value to be displayed if key is not found
my_new_dict.pop(3, -1)

4

In [157]:
my_new_dict

{1: 2, 2: 4, 5: 6}

In [158]:
# pop item
newdict = {3:3, 4:4, 5:5, 7:6}

In [159]:
newdict.popitem()

(7, 6)

In [160]:
newdict = {'Name':'ABC', 'Ph':'9999991111', 'Addr':'Hyderabad', 'Pincode':'500016'}

In [161]:
newdict.popitem()

('Pincode', '500016')

In [162]:
newdict

{'Name': 'ABC', 'Ph': '9999991111', 'Addr': 'Hyderabad'}

In [163]:
newdict = {}

In [164]:
# from keys
# it will copy values to every key
newdict1 = newdict.fromkeys({'location'}, {'XYZ', 'ABC', 'Hyderabad'})

In [165]:
newdict1['Pincode'] = '500016'

In [166]:
newdict1

{'location': {'ABC', 'Hyderabad', 'XYZ'}, 'Pincode': '500016'}

In [167]:
newdict1['Name'] = 'PQR'

In [168]:
newdict1

{'location': {'ABC', 'Hyderabad', 'XYZ'}, 'Pincode': '500016', 'Name': 'PQR'}

In [169]:
# Update
# it updates the new dictionary with missing key value pairs from old dictionary
dict1 = {4:16, 5:25}
dict2 = {4:16, 6:36}
dict1.update(dict2)
dict1

{4: 16, 5: 25, 6: 36}

##### Built in Operations for Dictionaries

#### Membership

In [170]:
# it searches if there is key present in dictionary
2 in dict1

False

In [171]:
4 in dict1

True

In [172]:
25 in dict1

False

## 4. Sets

In [173]:
a={1,3,2}

In [174]:
type(a)

set

In [175]:
a

{1, 2, 3}

In [176]:
c = {1, 2.0, "three"}

In [177]:
c

{1, 2.0, 'three'}

In [178]:
my_set = {1, 2, 2, 3, 4}

In [179]:
my_set

{1, 2, 3, 4}

In [180]:
d = {[1, 2, 3, 4], 4}

TypeError: unhashable type: 'list'

In [181]:
d = set()

In [182]:
d = {}

In [183]:
type(d)

dict

In [184]:
d = set([1, 3, 2])

In [185]:
type(d)

set

#### How to Access Set members

In [186]:
d[2]

TypeError: 'set' object is not subscriptable

#### Deleting a set

In [187]:
numbers={13,12,11,14,16,15}

In [188]:
numbers

{11, 12, 13, 14, 15, 16}

In [189]:
numbers.discard(13)

In [190]:
numbers

{11, 12, 14, 15, 16}

In [191]:
numbers.remove(14)

In [192]:
numbers

{11, 12, 15, 16}

In [193]:
numbers.remove(14)

KeyError: 14

In [194]:
numbers.discard(14)

In [195]:
numbers

{11, 12, 15, 16}

In [196]:
# pop
numbers={13,12,11,14,16,15}

In [197]:
numbers.pop()

11

In [198]:
numbers

{12, 13, 14, 15, 16}

In [199]:
{11,9,12,6,2,-1}.pop()

2

In [200]:
# clear
numbers.clear()

In [201]:
# Updating a Set
# We cannot update a set with using index numbers
# there are two ways to create
# update and add

In [202]:
numbers.add(12.5)

In [203]:
numbers

{12.5}

In [204]:
# update
numbers.update([1, 3, 12], [45])

In [205]:
numbers

{1, 3, 12, 12.5, 45}

In [206]:
type(numbers)

set

#### Functions on Sets

- len()
- max()
- min()
- sum()
- any()
- all()
- sorted()

In [207]:
# len 
len(numbers)

5

In [208]:
max(numbers)

45

In [209]:
min(numbers)

1

In [210]:
sum(numbers)

73.5

In [211]:
any(numbers)

True

In [212]:
all(numbers)

True

In [213]:
numbers={1, 2, 3, 4, 5, 6, 3.5}

In [214]:
sorted(numbers)

[1, 2, 3, 3.5, 4, 5, 6]

#### Methods on Sets

- union
- intersection
- difference
- symmetric_difference
- intersection_update
- difference_update
- symmetric_difference_update
- copy
- isdisjoint
- issubset
- issuperset

In [215]:
# Union
set1, set2, set3 = {1, 2, 3}, {3, 4, 5}, {5, 6, 7}

In [216]:
set1.union(set2, set3)

{1, 2, 3, 4, 5, 6, 7}

In [217]:
set1.intersection(set2)

{3}

In [218]:
set1.difference(set2)

{1, 2}

In [219]:
set2.difference(set1)

{4, 5}

In [220]:
# Returns unique elements in each set
set1.symmetric_difference(set2)

{1, 2, 4, 5}

In [221]:
# updates the intersection element
set1.intersection_update(set2)

In [222]:
set1.difference_update(set2)

In [223]:
# symmetric_difference_update
set1.symmetric_difference_update(set2)

In [224]:
set1

{3, 4, 5}

In [225]:
set4 = set1.copy()

In [226]:
set4

{3, 4, 5}

In [227]:
# isdisjoint
# Returns True if there is no intersection
set5, set6 = {1, 2}, {3, 4}

In [228]:
set5.isdisjoint(set6)

True

In [229]:
{1, 2}.issubset({1, 2, 3})

True

In [230]:
{1, 2, 3}.issuperset({1, 2})

True