# Functions

- Built in Functions
- User Defined Functions
- Lambda Functions
- Recursion Functions

## Built In Functions

- abs()
- any()
- all()
- range()
- format()
***
- map()
- filter()
- reduce()
***

In [1]:
# abs
abs(-52)

52

In [2]:
# any
any({0, 1, 0})

True

In [3]:
# all
all({1, 2, 3})

True

In [4]:
# range
range(10)

range(0, 10)

In [5]:
list(range(8,23))

[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [6]:
# format
text = 'Python'
name = 'Sachin'
print('{0} is learning {1}'.format(name,text))

Sachin is learning Python

In [7]:
# how to get list of numbers that are divisible by 2 using for loop
my_result=[]
my_list = [2, 4, 6, 8, 9]
for i in range(len(my_list)):
    if my_list[i]%2==0:
        my_result.append(my_list[i])

print(my_result)

[2, 4, 6, 8]

### Lambda, filter, map, reduce Functions

In [8]:
# How to get using lambda using filter
list(filter(lambda x:x%2==0, [2, 4, 6, 8, 9]))

[2, 4, 6, 8]

In [9]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter(lambda x: x>4, sequences)
list(filtered_result)

[10, 8, 7, 5, 11]

### IIFE
### immediately invoked function execution

In [10]:
(lambda x: x + x)(2)

4

In [11]:
(lambda x: (x**0.5)) (144)

12.0

In [12]:
# map
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map(lambda x: x*4, sequences)
print(list(filtered_result))

[40, 8, 32, 28, 20, 16, 12, 44, 0, 4]

In [13]:
sequences = list(range(-20, -10))
sequences

[-20, -19, -18, -17, -16, -15, -14, -13, -12, -11]

In [14]:
# map
sequences = list(range(-20, -10))
fr = map(lambda x: abs(x), sequences)
print(list(fr))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [15]:
# reduce
from functools import reduce 
sequences = [1, 2, 3, 4]
product = reduce(lambda x, y:x*y, sequences)
print(product)

24

In [16]:
range_of_nums = list(range(1,11))
reduce_op = reduce(lambda x, y: x+y, range_of_nums)
print(reduce_op)

55

## User Defined Functions

In [17]:
def say_hello():
    print("This is my first function")

In [18]:
say_hello()

This is my first function

In [19]:
def add_two_nums(a, b):
    c = a + b
    return c

In [20]:
add_two_nums(10, 20)

30

In [21]:
def add_two_nums(a, b):
    return a+b

In [22]:
add_two_nums(12, 23)

35

In [23]:
# using lambda how can we get above function
sum = lambda x,y : x+y
print(sum)

<function <lambda> at 0x0000000004FEB4C8>

### Recursion Functions

In [1]:
def facto(n):
    if n==1:
        return 1
    return n*facto(n-1)

In [25]:
facto(5)

120