# Numpy

- A library that will allow to work on huge multidimensional matrices and arrays
- Numpy can do mathematical operations
- This is considered an alternative to MATLAB
- This quite often considered as NUMerical PYthon, hence the name Numpy

### How to Install

`
pip install numpy
or 
conda install numpy
`

### Features

- multidimensional arrays
- functions on these arrays
- fourier transformations and shapes manipulation
- Linear algebra and random number generation

### What all can NumPy do?

In [1]:
import numpy as np

In [8]:
my_array = np.array([1,2,3])

In [9]:
type(my_array)

numpy.ndarray

In [10]:
my_array.shape

(3,)

In [12]:
my_array[1]

2

In [14]:
my_array[2] = 8

In [15]:
my_array

array([1, 2, 8])

### 2 dim array

In [17]:
my_array_2 = np.array([[1,2,3], [3,5,6]])

In [18]:
my_array_2

array([[1, 2, 3],
       [3, 5, 6]])

In [19]:
my_array_2[0]

array([1, 2, 3])

In [23]:
my_array_2[1,1]

5

In [26]:
# we can also create array with many techniques
np.arange(8)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [25]:
# How to generate random numbers with numpy using random function
np.random.random((3,3))

array([[0.05198531, 0.69849946, 0.79196779],
       [0.59509896, 0.14765508, 0.16572655],
       [0.98448825, 0.30109354, 0.73888084]])

In [31]:
# How to generate all ones for a matrix
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [33]:
# How to generate all 0s 
np.zeros((4,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [35]:
# identity matrix
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [36]:
# how to create matrix with same rows
np.full((5,2),7)

array([[7, 7],
       [7, 7],
       [7, 7],
       [7, 7],
       [7, 7]])

In [64]:
# how to generate numbers evenly spaced includes extremes
np.linspace(10, 11, 5)

array([10.  , 10.25, 10.5 , 10.75, 11.  ])

In [65]:
# generate randomonly distributed matrix
np.empty([2,2])

array([[10.        , 10.33333333],
       [10.66666667, 11.        ]])

In [69]:
np.array([1,5,9], ndmin = 3)

array([[[1, 5, 9]]])

In [70]:
np.array([1, 3, 4], dtype=complex)

array([1.+0.j, 3.+0.j, 4.+0.j])

### Functions

In [71]:
a = np.array([[1, 2, 4], [4, 6, 9]])

In [79]:
a.shape

(2, 3)

In [73]:
a

array([[1, 2, 4],
       [4, 6, 9]])

In [77]:
a.reshape(3, 2)

array([[1, 2],
       [4, 4],
       [6, 9]])

In [80]:
a.ndim

2

In [82]:
a.flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : False
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

### Indexing

In [84]:
a = np.array([[1,2,3], [3,4,5]])

In [86]:
a

array([[1, 2, 3],
       [3, 4, 5]])

In [105]:
a[ :2, 0:2 ]

array([[1, 2],
       [3, 4]])

In [106]:
a[:,:]

array([[1, 2, 3],
       [3, 4, 5]])

In [110]:
a[:, 1:3]

array([[2, 3],
       [4, 5]])

### Mathematical Operations

In [113]:
a = np.array([[1,2,3], [3,4,5]])
b = np.array([[6,4,2], [6,7,8]])

In [115]:
a

array([[1, 2, 3],
       [3, 4, 5]])

In [116]:
b

array([[6, 4, 2],
       [6, 7, 8]])

In [118]:
a+b

array([[ 7,  6,  5],
       [ 9, 11, 13]])

In [119]:
np.add(a,b)

array([[ 7,  6,  5],
       [ 9, 11, 13]])

In [120]:
np.subtract(a,b)

array([[-5, -2,  1],
       [-3, -3, -3]])

In [121]:
a-b

array([[-5, -2,  1],
       [-3, -3, -3]])

In [122]:
a*b

array([[ 6,  8,  6],
       [18, 28, 40]])

In [123]:
np.multiply(a,b)

array([[ 6,  8,  6],
       [18, 28, 40]])

In [124]:
a/b

array([[0.16666667, 0.5       , 1.5       ],
       [0.5       , 0.57142857, 0.625     ]])

In [125]:
np.divide(a,b)

array([[0.16666667, 0.5       , 1.5       ],
       [0.5       , 0.57142857, 0.625     ]])

In [126]:
np.sum(a)

18

In [127]:
np.sum(b)

33

In [128]:
np.sum(a, axis=0)

array([4, 6, 8])

In [129]:
np.sum(a, axis=1)

array([ 6, 12])

In [130]:
a

array([[1, 2, 3],
       [3, 4, 5]])

In [131]:
b

array([[6, 4, 2],
       [6, 7, 8]])

In [132]:
a.T

array([[1, 3],
       [2, 4],
       [3, 5]])

In [133]:
b.T

array([[6, 6],
       [4, 7],
       [2, 8]])